@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/* Firefox */
// * {
//   scrollbar-width: thin; /* Width of the scrollbar */
//   scrollbar-color: #888 #f1f1f1; /* Color of the scrollbar thumb and track */
// }

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8367c7; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #777;
  background-color: #f0fff1;
  overflow: hidden;
  height: 100vh;
  background-image: url("../assets/svg/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

a:hover {
  text-decoration: none;
}

p {
  font-weight: 500;
  font-size: 14px;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 20px;
  font-weight: 700;
}

.section {
  position: relative;
  width: 100%;
  overflow: auto;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  display: none;
}

.checkbox {
  & + label {
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    margin: 10px auto;
    cursor: pointer;
    background-color: #fff;
  }

  & + label::before {
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #8367c7;
    content: url("../assets/svg/arrowUpLeft.svg");
    top: -10px;
    left: -10px;
    line-height: 42px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
  }

  &:checked + label::before {
    transform: translateX(44px) rotate(-270deg);
  }
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 470px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-image: url("../assets/svg/pattern.svg");
  background-size: contain;
  background-color: #8367c7;
  position: absolute;
  border-radius: 6px;
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}

.rotateY-180 {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
}

.form-group {
  position: relative;
}

.form-style {
  padding: 13px 20px;
  height: 48px;
  outline: none;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);

  &:focus,
  &:active {
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
  }
}
.error {
  color: #e00303;
  border: 1px solid #e00303;

  &::placeholder {
    color: #e00303;
    opacity: 1;
  }
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  color: #8367c7;

  &:disabled {
    background-color: #c9c9c9;
    cursor: not-allowed;
    color: #838383;
  }

  &:hover:not(:disabled) {
    background-color: #cde3f3;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, 0.2);
  }
}

.loader-icon-rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
